@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
  background-color: #bd9797;
  /* background-image: url('/src/assets/body-bg-2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}